	html, body {
		height:100%;
	} 
	
	body{
		padding: 2em;
		background: url("https://images.pexels.com/photos/225251/pexels-photo-225251.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center fixed;
		background-image: linear-gradient(to bottom, rgba(172, 165, 165, 0.6) 0%,rgba(172, 165, 165, 0.6) 100%), url("https://images.pexels.com/photos/225251/pexels-photo-225251.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") ;
		background-size: cover;
		height: 100%;
	}
	
	h1 {text-align: center;
		padding-top: 0.5em;
		margin-bottom: 0.5em;
	}
	
	.row:nth-child(2) {
		border: none;
	}
		
	.leftBox {
		background-color: rgba(233, 224, 224, 0.801);
		border-radius:10px;
		padding-bottom: 2em;
		padding-top: 2em;
	}

	.playground {
		display: none;
	}

	.name {
		border: 1px solid #bdbdbd;
		display: inline;
		padding: 1px 6px 4px 6px;
		border-radius: 0.5em;
		font-size: 12pt;
	}

	.invalid-input{
		background-color: #ff0000;
	}

	.christmasfont {
		font-family: 'Dancing Script';
		font-weight: bold;
		display: inline;
		font-style: italic;
		font-size: 26pt;
	}

	.login {
		border: 3px dotted rgba(255, 0, 0, 0.522);
		background-color: rgba(233, 224, 224, 0.801);
	}

	.modal-dialog {
		padding-top: 200px;
	}
	
	.highlight {
		background-color: rgba(255, 0, 0, 0.522);
		font-weight: bold;
		color: rgb(100, 39, 3);
		font-size: 13pt;
		display: block;
		text-align: center;
	  }

	.activePic {
		 width:80px;
	  } 
		
	.hover {
		margin-top: -25px;
	} 

	.activeStackPic {
		width:110px;
	}

	.scoreBox ul {
		list-style-type: none;
	}

	.scoreHeading {
		text-align: center;
		font-size: 24px;
		font-weight: bold;
		color: rgb(100, 39, 3);
	}

	.headingNameAndScore {
		justify-content: space-between;
		font-size: 18px;
		padding: 0px 60px;
		font-weight: bold;
	}

	.containerForScore{
		display: flex;
		justify-content: space-between;
		line-height: 4px;
		font-size: 16px;
		padding: 0px 60px;
	}
	
	.btn-xl {
		padding: 40px 40px;
		font-size: 40px;
		border-radius: 10px;
		text-align: center;
	}

	.modal-header {
		justify-content: center;
	}

	.modal-body {
		text-align: center;
	}

	.modal-footer {
		justify-content: center;
	}

	#winner {
		font-size: 24px;
	} 

	#cr {
		font-weight: 600;
		font-style: italic;
	}